<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{display_name}}'s Avatars</title>
    <link rel="icon" href="{{avatars[0]}}">
    <meta name="og:title" content="Avatar History">
    <meta name="og:site_name" content="harvest.discord">
    <meta name="og:url" content="https://harvestbot.w3spaces.com/avatars.html{{id}}">
    <meta name="og:description" content="View {{display_name}}'s avatars">
    <meta name="og:image" content="{{avatars[0]}}">
    <meta name="theme-color" content="#010101">
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to your CSS file -->
    <script src="/static/avatars.js" defer></script>
</head>
<body>
    <header>
        <h1>harvest.discord</h1>
        <h3>Avatars</h3>
    </header>
    <main>
        <div class="avatar-gallery">
            {% if avatars %}
                {% for avatar in avatars %}
                    <a href="{{avatar}}" target="_blank" aria-label="View avatar">
                        <img src="{{avatar}}" alt="{{display_name}}'s avatar" class="avatar-image">
                    </a>
                {% endfor %}
            {% else %}
                <p>No avatars available.</p>
            {% endif %}
        </div>
    </main>
</body>
</html>
